body {
  background-image: url(./Images/bg5.avif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  background-color: rgba(185, 168, 168, 0.737);
  padding: 0px 0px 0px 0px;
  height: 60vh;
}
.header {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: black;
  color: aliceblue;
}
.form-control {
  border: 2px solid rgba(47, 28, 3, 0.296);
}
.btn {
  border: 2px solid rgba(47, 28, 3, 0.296);
  color: rgba(61, 35, 35, 0.785);
  font-weight: bold;
  background-color: white;
}
.btn:hover {
  background-color: rgba(72, 8, 13, 0.785);
}
.remove-btn {
  font-size: 11px;
  background-color: rgba(190, 56, 56, 0.834);
  color: rgb(241, 238, 238);
  justify-content: flex-end;
  padding: 8px 8px;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}
